.products {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 500px;
}
.product_card {
  width: 270px;
  height: 420px;
  display: flex;
  flex-flow: column nowrap;
  background-color: rgb(63, 95, 199);
  color: whitesmoke;
  border: none;
  border-radius: 20px;
  align-items: center;
  margin-right: 70px;
}
@media (max-width: 720px) {
  .products {
    display: inline-flex;
    flex-flow: column nowrap;
  }
  .product_card {
    margin-bottom: 20px;
  }
}
@media (max-width: 1120px) and (min-width: 720px) {
  .product_card {
    width: 210px;
    height: 420px;
    
  }
  .two,.three{
    max-height: 180px;
  }

}

.product_card:hover {
  transform: scale(1.08);
}
.product_heading {
  margin-bottom: 15px;
  margin-top: 5px;
  font-size: 22px;
}

.features {
  margin-left: 15px;
}
.one,
.two,
.three {
  margin-bottom: 10px;
  line-height: 1.2;
  padding: 8px;
}
.one {
  font-size: 20px;
}
.two {
  font-size: 17px;
}
.three {
  font-size: 19px;
  font-style: italic;
  margin-top: 15px;
}
.product_button {
  margin-top: 5px;
  border: none;
  border-radius: 10px;
  padding-bottom: 4px;
  font-size: 22px;
  width: 240px;
  height: 45px;
  background: rgb(0, 60, 255);
  color: #ffffff;
}
@media (max-width: 720px) {
  .product_button {
    margin-bottom: 15px;
  }
}

@media (min-width: 720px) and (max-width: 1120px)  {
  .product_button {
    width: 170px;
    height: 40px;
    font-size: 19px;
  
  }
}

@media (min-width: 720px) and (max-width: 830px)  {
  .product_button {
    width: 170px;
    height: 40px;
    font-size: 19px;
  }
  #btn1{
    margin-top: -5px
  }
  #btn3,#btn2{
    margin-top: 18px;
  }
}